.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.comp {
  width: 60vw;
  margin-top: 10vw;
}

.workBanner {
  width: 100vw;
  height: 30vw;
  background-color: rgba(70, 85, 109, 0.445);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.workBanner h1 {
  color: white;
}
