* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20vw;
}

.block {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-radius: 1vw;
  box-shadow: 0 0.3vw 1vw black;
}

.info {
  display: flex;
  width: 50vw;
  height: auto;
  background-color: white;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
}

.nameTime {
  width: 22vw;
  margin-top: 0.5vw;
  display: flex;
  flex-direction: column;
}

.nameTime h2 {
  font-size: 2vw;
  margin: 0;
  margin-left: 1vw;
  font-style: italic;
}

.nameTime h4 {
  font-size: 1.4vw;
  margin: 0;
  font-weight: 300;
  margin-left: 1vw;
  margin-bottom: 1vw;
  font-style: italic;
}

.details {
  width: 28vw;
  margin-top: 0.5vw;
}

.info p {
  font-size: 1.4vw;
  margin-top: 0.4vw;
  margin-left: 1vw;
  margin-right: 0.3vw;
}

.expImage {
  width: 50vw;
  height: 27vw;
  background-color: white;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
}

.expImageBlurb {
  width: 50vw;
  height: 27vw;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
}

.opacityHandler {
  opacity: 25%;
}

.expBlurb {
  width: 50vw;
  height: 27vw;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  position: absolute;
  font-size: 2.3vw;
  font-weight: bold;
}

.experiences button {
  font-size: 15vw;
  background-color: transparent;
  border-radius: 3vw;
  width: 20vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0vw 0vw 0.5vw rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.4vw 0.5vw #999;
  padding: 0;
}

.experiences button:hover {
  outline: none;
  border-color: none;
}

.experiences button:active {
  box-shadow: 0 0.23vw 0.5vw #666;
  transform: translateY(0.2vw);
}

.experiences {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  margin-top: 20vw;
}

@media (min-width: 600px) {
  .experiences {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    margin-top: 20vw;
  }
}

@media (min-width: 1024px) {
  .experiences {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    flex-wrap: wrap;
    margin-top: 20vw;
  }

  .expImage {
    width: 35vw;
    height: 20vw;
    background-color: white;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
  }

  .expImageBlurb {
    width: 35vw;
    height: 20vw;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
  }

  .expBlurb {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    position: absolute;
    font-size: 2vw;
    font-weight: bold;
  }

  .info {
    display: flex;
    width: 35vw;
    height: 6.5vw;
    background-color: white;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
  }

  .nameTime {
    width: 15vw;
    margin-bottom: 0.3vw;
    display: flex;
    flex-direction: column;
  }

  .nameTime h2 {
    font-size: 1.3vw;
    margin: 0;
    margin-left: 0.7vw;
    font-style: italic;
  }

  .nameTime h4 {
    font-size: 1vw;
    margin: 0;
    font-weight: 300;
    margin-left: 0.7vw;
    font-style: italic;
  }

  .details {
    width: 20vw;
  }

  .info p {
    font-size: 1vw;
    margin: 0;
    margin-left: 0.6vw;
  }
}
